* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #cac4c4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
  }
  
#main {
  width: 270;
  height: 7467;
  top: -862px;
  left: 2584px;
  background: #FFFFFF;
  padding: 25px ;
  margin: 100px ;
  
}  
  
#navbar a img {
  width: 17px;
}

#navbar {
  display: flex;
  gap: 10px;
  color: #00000052;
  align-items: center;
  justify-content: center;
  width: 300px; 
  border-radius: 20px;
  border-width: 1px;
  padding: 10px;
  gap: 20px;
  border: 1px solid #00000052;
  position: center;
  margin-left: 350px;
  font-size: 10px;
}

.book-call {
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 12px ;
  padding: 11px;
  font-weight: bold;
}



#header {
  padding: 150px;
}

.profile-pic {
  width: 100px;
  gap: 14px;
}

.available-for-work {
  border-radius: 10px;
  border: none;
  color: green;
  background-color: #BBF7D0;
  font-size: 15px ;
  padding: 12px;
  border: 1px solid #86EFAC;
}

.actions {
  display: flex;   
  gap: 10px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 25px;
  Color: #737373;
  
}

#portfolio img {
  width: 330px;
  height: 350px;
  top: 733px;
  left: -120px;
  gap: 40px;
  padding: 10px;
 
}

#first-paragraph {
  padding: 150px;
}

#seconde-paragraph {
  padding: 150px;
}

